{% extends "base.html" %}

{% block content %}

<div class='row'>
    <div class="text-center col-lg-4"></div>
    <div class="text-center col-lg-4">
        <h1>重置密码</h1>
        <p>
            请填写你要找回的账号的邮箱📮，我们将给此邮箱发送密码重置链接
        </p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email() }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <button class="btn btn-lg btn-outline-primary" type="submit">重置</button> or<a href="{{ url_for('login') }}">登陆</a></p>
        </form>
    </div>
</div>
{% endblock %}