{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <td><img src="{{user.avatar(128)}}" alt=""></td>
        <td>
            <p>
            <b>{{ user.username}}</b>
            <p>
                Followers {{ user.followers.count()}}  Following {{ user.followed.count()}}
            </p>
            <form action="" method="POST">
                    {% if user != current_user %}
                    {% if current_user.is_following(user) %}
                    <input type="submit" value="UnFollow" name="request_button">
                    {% else %}
                    <input type="submit" value="Follow" name="request_button">
                    {% endif %}
                    {% endif %}
            </form>
            </p>
            {% if  user.about_me %}
                <p>{{user.about_me}}</p>
                <br>
            {% endif %}

            {% if user.create_time %}
                <p><b>注册时间:</b>{{user.create_time}}</p>
                <br>
            {% endif %}

            {% if user==current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit Your Profile</a></p>
            {% endif %}
           
        </td>
    </tr>
</table>
    {% for post in posts %}
   <table>
    <tr>
        <td><img src="{{user.avatar(60)}}" alt=""></td>
        <td><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></td>
    </tr>
</table>
    {% endfor %}
{% endblock %}



